@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  .shade {
    @apply dark:bg-gray-900 bg-gray-50;
  }

  .dark-mode {
    @apply dark:bg-gray-950;
  }

  .paper {
    @apply bg-paper dark:bg-paper-dark shadow-md;
  }
  svg {
    @apply fill-current text-inherit;
  }

  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0 focus:ring-transparent;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

/* Ripple effect */
/* .ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: rgba(255, 255, 255, 0.2)
    radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.2) 1%)
    center/15000%;
}
.ripple:active {
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 100%;
  transition: background 0s;
} */

/* .ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  opacity: 1;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.ripple:focus:after,
.ripple:active:after {
  transform: scale(2);
  opacity: 0;
} */
