@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  .shade {
    @apply dark:bg-gray-900 bg-gray-50;
  }

  .dark-mode {
    @apply dark:bg-gray-950;
  }

  .paper {
    @apply bg-paper dark:bg-paper-dark shadow-md;
  }
  svg {
    @apply fill-current text-inherit;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
