@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(79, 209, 197, 0.3);
}
